.margin{
    margin:50px;
}

table {
    width: 100%;
    margin-right: 60px;
  }
  
  .mat-row:nth-child(even){
    background-color:white;
    }

.mat-row:nth-child(odd){
    background-color:#ffd740;
  
    }

    .right-align {    text-align: right; 
    padding-right:40px;
    }